.shop.body {
	width: 1000px;
	margin: 100px auto 0;
	font-size: 12px;
}
.user-message + .shop.body {
	margin-top: 0;
}

.heading-bar {
	position: absolute;
	width: 1000px;
}

.heading-categories {
	float: right;
	margin-top: -2px;
	margin-left: 15px;
	text-transform: uppercase;
}
.heading-categories dt {
	position: relative;
	font-weight: bold;
	font-size: 14px;
	padding: 5px 15px;
	cursor: default;
	background: #fff;
	color: #000;

	padding-right: 35px;
	height: 17px;
}
.heading-categories dt:after {
	position: absolute;
	content: ">";
	top: -2px;
	right: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.heading-categories:hover dt:after {
	background: #000;
	color: #fff;
}
.heading-categories dd {
	position: relative;
}
.heading-categories ul {
	position: absolute;
	left: -9999em;

	background: #000;
	padding: 10px 0;
	width: 100%;
}
.heading-categories:hover ul {
	left: auto;
	right: 0;
}
.heading-categories a {
	display: block;
	color: #fff;
	padding: 3px 15px;
	font-weight: normal;
}
.heading-categories a:hover {
	color: #c00;
}

.cart-summary {
	float: right;
}
.cart-summary a {
	font-weight: normal;
}
.cart-summary dl {
	background: url("../images/shop/tot-bag.png") no-repeat right 0;
	padding: 15px 35px 0 0;
	margin: -10px -15px 0 0;
}
.cart-summary dt {
	color: #808080;
	cursor: pointer;
	padding-bottom: 10px;
}
.cart-summary dt span {
	color: #000;
}
.cart-summary .divider {
	margin: 0 4px;
}
.cart-summary dd {
	position: relative;
}
.cart-summary dd > .inner {
	position: absolute;
	z-index: 1;
	left: -9999em;
	background: #fff;
	padding: 10px;
	border: 1px solid #ccc;
	border-width: 0 1px 1px;
}
.cart-summary:hover dd > .inner {
	left: auto;
	right: -25px;
}
.cart-summary dd a.checkout {
	display: block;
	text-transform: uppercase;
	color: #fff;
	background: #cf1f40;
	text-align: center;
	line-height: 100%;
	padding: 8px 0;
	margin-top: 10px;
}
.cart-summary dd a.checkout:hover {
	background: #c96161;
}
.cart-summary dd ul.cart-products {
	overflow: hidden;
	overflow-y: scroll;
	max-height: 150px;
}
.cart-summary dd ul.cart-products > li {
	overflow: hidden;
	width: 150px;
	padding: 10px 10px 10px 55px;
}
.cart-summary dd ul.cart-products > li + li {
	border-top: 1px solid #eee;
}
.cart-summary dd ul.cart-products p {
	margin: 0 0 3px;
}
.cart-summary dd ul.cart-products .image {
	float: left;
	margin-left: -50px;
}
.cart-summary dd ul.cart-products .name a {
	color: #999;
	text-transform: uppercase;
}
.cart-summary dd ul.cart-products .options {
	font-size: 11px;
	color: #999;
}

.shop h2,
.shop h3 {
	text-transform: uppercase;
}
.shop h2 {
	clear: both;
	margin: 0 0 20px;
	padding-bottom: 5px;
	border-bottom: 5px solid #000;
	font-size: 25px;
}
.shop .product-details h2 {
	/* Background to hide product images */
	margin-top: -20px;
	padding-top: 20px;
	background: #fff;
}
.shop h3 {
	font-weight: bold;
	font-size: 20px;
	line-height: 125%;
	margin: 0 0 5px;
}

ul.products {
	margin: 40px 0 0 -5px;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.profile ul.products {
	margin-top: 20px;
	margin-left: 0;
}
ul.products > li {
	/*float: left;*/
	display: inline-block;
	vertical-align: top;
	width: 240px;
	margin-bottom: 80px;
	margin-left: 10px;
}
.profile ul.products > li {
	width: 160px;
	margin-bottom: 40px;
	margin-left: 15px;
}
ul.products p {
	margin: 0;
}
ul.products .image {
	margin-bottom: 20px;
}
ul.products .new {
	position: absolute;
	margin: -60px 0 0 170px;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
}
.profile ul.products .new {
	margin-top: -70px;
	margin-left: 100px;
	text-transform: uppercase;
}
ul.products .new a {
	display: block;
	font-weight: normal;
	width: 50px;
	height: 50px;
	background: #1a1a1a;
	color: #fff;
	border-radius: 25px;
}
ul.products li:hover .new a {
	background-color: #cb2027;
}
ul.products li:hover .name a {
	color: #cb2027;
}
ul.products .info {
	margin: 0 20px;
}
ul.products .price {
	color: #808080;
}
.profile ul.products,
.profile ul.products p {
	font-size: 12px;
	text-transform: none;
}
.profile ul.products p {
	margin-top: 5px;
}
.profile ul.products .info {
	margin: 0;
}
.profile ul.products .image {
	margin-bottom: 10px;
}
.profile ul.products li .name a {
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}


.product .thumbnails {
	float: left;
}
.product .thumbnails li + li {
	margin-top: 20px;
}
.product .thumbnails a {
	display: block;
	border: 1px solid #ccc;
}
.product .thumbnails .current a,
.product .thumbnails a:hover {
	border-color: #c96161;
}
.product .thumbnails img {
	display: block;
}
.product .product-details {
	position: fixed;
	width: 1000px;
}
.product .info {
	float: right;
	width: 250px;
}
.product .info .user {
	margin: 0 0 20px;
	color: #000;
}
.product .info .user .title {
	font-size: 20px;
	text-transform: uppercase;
	margin: 0 0 15px;
}
.product .info .user .card {
	padding-left: 85px;
	overflow: hidden;
}
.product .info .avatar {
	float: left;
	margin-left: -85px;
}
.product .info .avatar img {
	display: block;
}
.product .info .user .username {
	font-size: 15px;
	line-height: 100%;
	text-transform: uppercase;
	width: 200px;
	width: 165px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.product .info .user .actions {
	margin: 0;
	list-style: none;
	overflow: hidden;
	line-height: 100%:
}
.product .info .user .actions li {
	float: left;
	text-transform: uppercase;
}
.product .info .user .actions li + li {
	margin-left: 5px;
}
.product .info .user .actions a {
	display: block;
	font-weight: normal;
	background: #999;
	color: #fff;
	padding: 3px 12px;
}
.product .info .user .actions li:nth-child(1) a {
	background-color: #333;
}
.product .info .name,
.product .info .price {
	color: #000;
}
.product .info .name {
	font-size: 12px;
	margin-bottom: 0;
}
.product .info .price .sale  {
	color: #c00;
	text-transform: uppercase;
}
.product .info .price del {
	text-decoration: line-through;
	color: #c00;
}
.product .info .price del span {
	color: #000;
}
.product .info label {
	display: block;
	text-transform: uppercase;
	margin: 15px 0 5px;
	color: #666;
}
.product .info input[type="text"] {
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-align: center;
	width: 40px;
}
.product .info ul.options {
	margin: 0 0 10px;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.product .info ul.options li {
	float: left;
}
.product .info ul.options input[type="radio"] {
	display: none;
}
.product .info ul.options label {
	display: block;
	cursor: pointer;
	padding: 5px 20px;
	border: 1px solid #ccc;
	margin-top: 0;
	width: 20px;
	text-align: center;
}
.product .info input[type="radio"]:checked + label,
.product .info ul.options label:hover {
	border-color: #c96161;
}
.product .info input[type="radio"]:checked + label {
	color: #c96161;
}
.product .info .wishlist {
	font-size: 10px;
	margin: 0 0 5px;
}
.product .info .wishlist a {
	font-weight: normal;
}
.product .info .button a {
	display: block;
	color: #fff;
	background: #cf1f40;
	text-align: center;
	font-size: 25px;
	line-height: 45px;
	font-weight: normal;
	text-transform: uppercase;
    width: 250px;
}
.product .info .button a:hover {
	background-color: #c96161;
}
.product dl.additional-info {
	font-size: 11px;
	line-height: 150%;
}
.product dl.additional-info dt {
	display: block;
	padding: 5px 0;
	text-transform: uppercase;
	border-top: 1px solid #ccc;
	background: url("../images/shop/arr_down2.png") no-repeat 150px center;
	color: #666;
	cursor: pointer;
}
.product dl.additional-info dt.expanded {
	background-image: url("../images/shop/arr_down.png");
}
.product dl.additional-info dd {
	padding: 0 0 10px;
}
.loaded .product dl.additional-info dd {
	display: none;
}
.product .product-images {
	margin: 0 0 0 100px;
	padding: 50px 0 0;
	list-style: none;
}

/* Checkout */
table.cart {
	width: 100%;
	margin: 0 0 10px;
}
table.cart thead th {
	text-transform: uppercase;
	padding: 5px 10px;
	font-weight: normal;
}
table.cart thead th.image {
	width: 75px;
}
table.cart th.quantity,
table.cart td.quantity {
	text-align: center;
	width: 40px;
}
table.cart td.quantity input {
	padding: 5px 10px;
	border: 1px solid #ccc;
	width: 40px;
	text-align: center;
}
table.cart thead th.monetary {
	width: 75px;
}
table.cart thead th.remove {
	width: 28px;
}
table.cart .monetary {
	text-align: right;
}
table.cart tr {
	border-bottom: 1px solid #eee;
}
table.cart td {
	padding: 10px;
}
table.cart tbody td {
	vertical-align: top;
}
table.cart .product a {
	text-transform: uppercase;
	color: #999;
	font-weight: normal;
}
table.cart .product a:hover {
	color: #cb2027;
}
table.cart .product dl.options {
	margin-top: 10px;
}
table.cart .product dl.options dt {
	font-weight: bold;
	font-style: italic;
	line-height: 100%;
	margin: 0 0 3px;
}
table.cart .product dl.options dd {
	margin-left: 10px;
}
table.cart a.remove {
	display: block;
	margin-left: auto;
	margin-right: 0;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	width: 14px;
	height: 14px;
	background: url("../images/shop/btn_remove.png") no-repeat 0 0;
}
table.cart a.remove:hover {
	background-position: 0 -14px;
}
.checkout .button {
	overflow: hidden;
}
.checkout .button a {
	float: right;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 100%;
	padding: 10px 20px;
	font-weight: normal;
	background: #ccc;
	color: #000;
}
.checkout .discounts .button a {
	float: left;
}
.checkout .button a:hover {
	background: #ddd;
}
.checkout .button.checkout a {
	background: #cf1f40;
	color: #fff;
}
.checkout .button.checkout a:hover {
	background: #c96161;
}
.checkout-footer {
	overflow: hidden;
	padding-bottom: 100px;
	margin-top: 50px;
}
.checkout-footer > .discounts {
	float: left;
}
.checkout-footer > div.totals {
	float: right;
}
.checkout-footer .redemption {
	margin: 0 0 20px;
}
table.totals {
	margin: 0 0 20px auto;
}
table.totals tfoot {
	font-size: 20px;
	font-weight: bold;
}
table.totals tfoot th,
table.totals tfoot td {
	font-weight: bold;
}
table.totals tr.points th {
	font-weight: bold;
}
table.totals th,
table.totals td {
	padding: 3px 0;
	text-align: right;
}
table.totals td {
	padding-left: 25px;
	width: 100px;
}
table.totals.payment {
	margin: 0 0 40px auto;
}
table.totals.payment th {
	font-weight: bold;
}

.checkout fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
.checkout fieldset + fieldset {
	margin-top: 20px;
}
.checkout input[type="submit"] {
	margin: 0 0 0 180px;
	padding: 0;
	border: none;
	background: #cf1f40;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	line-height: 100%;
	padding: 10px 20px;
}
.checkout input[type="submit"]:hover {
	background: #c96161;
}
.checkout label em {
	float: right;
	margin-right: 8px;
	font-style: normal;
	color: #c00;
}
.checkout .StaticForm .radios li {
	float: none;
	margin-right: 0;
	padding-left: 180px;
}
.checkout .StaticForm .radios input[type="radio"] {
	float: none;
}
.checkout .StaticForm .radios label {
	float: none;
	width: auto;
	padding-top: 0;
	cursor: pointer;
}

.checkout-footer h3,
.checkout-footer h4 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 100%;
	margin: 0 0 5px;
}
.checkout-footer p.address {
	margin: 0 0 20px;
}
#sliderCaption {
	margin-top: 10px;
}
.cartSlider {
	margin-bottom: 5px;
}
.more-ways-to-spend {
	margin-top: 20px;
}
.discounts .codes {
	margin-top: 40px;
}
.sliderRail {
	background-image: url("../images/slider/slider_rail.gif");
}
a.sliderHandle {
	background-image: url("../images/slider/slider_handle.gif");
}
form.discount-code label {
	display: block;
}
form.discount-code input[type="text"] {
	padding: 5px 10px;
	border: 1px solid #ccc;
	width: 200px;
	margin: 5px 0;
}

ul.checkout.nav {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 100%;
	overflow: hidden;
}
ul.checkout.nav li {
	float: left;
}
ul.checkout.nav a {
	display: block;
	width: 250px;
	padding-bottom: 15px;
	font-weight: normal;
	border-bottom: 20px solid #ccc;
	color: #ccc;
}
ul.checkout.nav a:hover {
	opacity: 0.8;
}
ul.checkout.nav .completed a {
	border-color: #c96161;
	color: #c96161;
}
ul.checkout.nav .current a {
	border-color: #cf1f40;
	color: #cf1f40;
}

.checkout-footer .totals form {
	margin-top: 0;
	width: 380px;
}
.checkout-footer .totals form li {
	padding: 5px 0;
}
.checkout-footer .totals form label {
	font-size: 12px;
}
.checkout-footer .totals form input[type="text"] {
	padding: 4px 8px;
	width: 200px;
	min-width: auto;
}
.checkout-footer .totals form select {
	width: 200px;
	min-width: auto;
}
.checkout-footer .totals form fieldset + fieldset {
	margin-top: 10px;
}
.checkout-footer .totals form fieldset + table {
	margin-top: 20px;
}

form.shipping ul.radios + h3 {
	margin-top: 20px;
}