fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
.Form.login-form ul.fields {
	margin: 0 0 20px;
	padding: 0;
	overflow: hidden;
}
.Form.login-form label {
	font-size: 22px;
}
.Form.login-form input[type="submit"] {
	font-size: 22px;
	padding: 10px 20px;
}
.Form.login-form .non_inputs {
	margin-top: 20px;
	font-size: 18px;
}
.Form.login-form .non_inputs a {
	margin-right: 20px;
}


.Form li {display: block; margin-bottom: 18px; font-size: 16px; font-weight: 300;}
  .Form input[type=text],
  .Form input[type=password],
  .Form textarea {display: inline-block; box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 6px 12px; font-size: 16px; font-weight: bold; line-height: 1.2em; color: #221919; background: #fff; border: 1px solid #a4a2a2; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8); -moz-box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8); -webkit-box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8); -moz-transition: all 0.08s ease-in-out; -webkit-transition: all 0.08s ease-in-out;}
  .Form textarea {min-height: 90px;}
  .Form label {display: inline-block; line-height: 1.4em; font-size: 16px;}
  .Form input[type=radio] {float: left; margin-right: 8px; border: none;}
  .Form .Right ul.pinability {float: left; margin-bottom: 10px;}
  .Form .Right ul.pinability li {float: left; clear: none; margin-top: 5px; width: auto;}
  .Form .Right ul li label span {font-size: 18px; float: left;}
  .Form .Right ul li label input[type=radio] {margin-top: 3px;}
  .Form .Right ul li:first-child label span {padding-left: 25px; height: 19px; line-height: 1.1; background: url(/images/collaborative-icons.png) 0 0 no-repeat; margin-right: 30px;}
  .Form .Right ul li.last-child label span {padding-left: 45px; height: 19px; line-height: 1.1; background: url(/images/collaborative-icons.png) 0 -19px no-repeat;}
  .Form .AddText {padding: 10px 0px;border-bottom: 1px solid rgba(34,25,25,0.1);}

  /* Input Focus */
  .Form input[type=text]:focus,
  .Form input[type=password]:focus,
  .Form textarea:focus,
  .Form input[type=text].error,
  .Form input[type=password].error,
  .Form textarea.error {
  	box-shadow: inset 1px 1px rgba(255,205,0,1),inset -1px -1px rgba(255,205,0,1); 
  	-moz-box-shadow: inset 1px 1px rgba(255,205,0,1),inset -1px -1px rgba(255,205,0,1); 
  	-webkit-box-shadow: inset 1px 1px rgba(255,205,0,1),inset -1px -1px rgba(255,205,0,1);
  	
	
  }

  /* Validation */
  .Form li .ValidationIcon {position: relative; top: 1px; left: 3px; display: inline-block; width: 11px; height: 11px; background-image: url(/images/orientation/CheckX.png); background-repeat: no-repeat;}
  .Form li .green {color: green;}
  .Form li .green .ValidationIcon {background-position: 0 0;}
  .Form li .red {color: #cb2027;}
  .Form li .red .ValidationIcon {background-position: -11px 0;}
  .Form li .default {font-weight: normal; color: #ccc;}
  
/* Static Form */
.StaticForm {margin: 36px 0; font-size: 13px;}
  .StaticForm h3 {padding: 0 0 18px; font-size: 28px; line-height: 1.1em; font-weight: bold; color: #524d4d; text-shadow: 0 1px rgba(255,255,255,0.9); border-bottom: 3px double rgba(34,25,25,0.1);overflow: hidden;}
  .StaticForm h3 a {font-weight: 300;}
  .StaticForm li {clear: both; margin: 0; padding: 15px 0; color: #8c7e7e; text-shadow: 0 1px rgba(255,255,255,0.9); border-top: 1px solid rgba(255,255,255,0.7); border-bottom: 1px solid rgba(34,25,25,0.1); width: 100%;} /* Float and Width for IE */
  .StaticForm li:last-child {border-bottom: 3px double rgba(34,25,25,0.1);}
  .StaticForm li:after {clear: both; display: block; height: 0; content: " "; visibility: hidden;}
  .StaticForm label {float: left; width: 180px; padding-top: 7px; vertical-align: top;}
  .StaticForm label.radio { padding-top: 24px; } /* If the list item holds a radio, it needs more spacing to be consistent */
  .StaticForm .ButtonLabel {padding-top: 15px;}
  .StaticForm .Left {width: 150px; float: left;}
  .StaticForm .Right {float: left;}
  .StaticForm .Right li {border-width: 0;}
  .StaticForm .Right label {float: none; display: block; width: auto; padding: 4px 0; font-size: 18px; border-width: 0; cursor: pointer;}
  .StaticForm .NoInput {padding: 6px 0;}
  .StaticForm input[type=text],
  .StaticForm input[type=password],
  .StaticForm select,
  .StaticForm textarea {min-width: 375px;}
  .StaticForm select {width: 375px;}  
  .StaticForm input[type=checkbox] {}
  .StaticForm .help_text {display: inline-block; margin-top: 5px; color: #8C7e7e; font-size: 13px; max-width: 199px; margin-left: 10px;}
  .StaticForm .error {font-size: 13px; float: left; clear: both; margin-top: 5px; color: #cb2027;}
  .StaticForm .Submit {padding-top: 24px; padding-left: 180px; border-top: 1px solid rgba(255,255,255,0.7); float: left; margin-bottom: 20px;} /* Float for IE */
  .StaticForm ul.pinability {border-top: none;}