.shop.body {
	padding: 175px 0 75px;
}
.shop ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.heading-bar {
	/*position: absolute;*/
	position: fixed;
	z-index: 2;
	width: 100%;
	margin-top: -100px;
	padding-top: 20px;
}

.heading-categories {
	float: right;
	margin-top: -2px;
	margin-left: 15px;
	text-transform: uppercase;
	margin-right: 10px;
}
.heading-categories dt {
	position: relative;
	font-weight: bold;
	font-size: 18px;
	padding: 5px 15px;
	cursor: default;
	background: #fff;
	color: #000;
	
	padding-right: 35px;
	height: 17px;
}
.heading-categories dt:after {
	position: absolute;
	content: ">";
	top: -2px;
	right: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.heading-categories.hover dt:after {
	background: #000;
	color: #fff;
}
.heading-categories dd {
	position: relative;
	font-size: 22px;
	white-space: nowrap;
}
.heading-categories ul {
	position: absolute;
	left: -9999em;
	
	background: #000;
	padding: 10px 0;
	min-width: 100%;
}
.heading-categories.hover ul {
	left: auto;
	right: 0;
}
.heading-categories a {
	display: block;
	color: #fff;
	padding: 5px 20px;
	font-weight: normal;
}
.heading-categories a:hover {
	color: #c00;
}

.cart-summary {
	float: right;
	font-size: 16px;
}
.cart-summary a {
	font-weight: normal;
}
.cart-summary dl {
	background: url("../../images/shop/tot-bag.png") no-repeat right 0;
	padding: 12px 40px 0 0;
	margin: -8px -15px 0 0;
}
.cart-summary dt {
	color: #808080;
	cursor: pointer;
	padding-bottom: 10px;
}
.cart-summary dt span {
	color: #000;
}
.cart-summary .divider {
	margin: 0 4px;
}
.cart-summary dd {
	position: relative;
}
.cart-summary dd > .inner {
	position: absolute;
	z-index: 1;
	left: -9999em;
	background: #fff;
	padding: 10px;
	border: 1px solid #ccc;
	border-width: 0 1px 1px;
}
.cart-summary.hover dd > .inner {
	left: auto;
	right: -25px;
}
.cart-summary dd a.checkout {
	display: block;
	text-transform: uppercase;
	color: #fff;
	background: #cf1f40;
	text-align: center;
	line-height: 100%;
	padding: 8px 0;
	margin-top: 10px;
}
.cart-summary dd a.checkout:hover {
	background: #c96161;
}
.cart-summary dd ul.cart-products {
	overflow: hidden;
	overflow-y: scroll;
	max-height: 150px;
}
.cart-summary dd ul.cart-products > li {
	overflow: hidden;
	width: 150px;
	padding: 10px 10px 10px 55px;
}
.cart-summary dd ul.cart-products > li + li {
	border-top: 1px solid #eee;
}
.cart-summary dd ul.cart-products p {
	margin: 0 0 3px;
}
.cart-summary dd ul.cart-products .image {
	float: left;
	margin-left: -50px;
}
.cart-summary dd ul.cart-products .name a {
	color: #999;
	text-transform: uppercase;
}
.cart-summary dd ul.cart-products .options {
	font-size: 11px;
	color: #999;
}

.shop h2 {
	position: fixed;
	z-index: 1;
	width: 100%;
	background: #fff;
	padding: 14px 0 6px 22px;
	border-bottom: 6px solid #000;
	text-transform: uppercase;
	font-size: 35px;
	line-height: 100%;
	font-weight: bold;
	margin: -100px 0 25px;
}

ul.products {
	margin: 0 0 0 -5px;
	text-align: center;
	font-size: 22px;
}
ul.products > li {
	display: inline-block;
	vertical-align: top;
	margin: 0 5px 50px;
	width: 300px;
}
ul.products .name {
	text-transform: uppercase;
	font-size: 25px;
}
ul.products .price {
	color: #808080;
}
ul.products .new {
	position: absolute;
	margin: -60px 0 0 200px;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
}
ul.products .new a {
	display: block;
	font-weight: normal;
	width: 50px;
	height: 50px;
	background: #1a1a1a;
	color: #fff;
	border-radius: 25px;
}

/* Product Details */
div.product {
	float: none;
	width: auto;
	padding-right: 270px;
	text-align: center;
}
.product ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.product ul.product-images li {
	margin-bottom: 50px;
}
.product-details {
	position: fixed;
	right: 0;
	padding: 0 20px 0 0;
	width: 250px;
	text-align: left;
	background: #fff;
}

.product .info .user {
	margin: 0 0 20px;
	color: #000;
}
.product .info .user .title {
	font-size: 20px;
	text-transform: uppercase;
	margin: 0 0 15px;
}
.product .info .user .card {
	padding-left: 85px;
	overflow: hidden;
}
.product .info .avatar {
	float: left;
	margin-left: -85px;
}
.product .info .avatar img {
	display: block;
}
.product .info .user .username {
	margin: 24px 0 5px;
	font-size: 25px;
	line-height: 100%;
	text-transform: uppercase;
	width: 200px;
	width: 165px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.product .info .user .actions {
	margin: 0;
	list-style: none;
	overflow: hidden;
	line-height: 100%:
}
.product .info .user .actions li {
	float: left;
	text-transform: uppercase;
}
.product .info .user .actions li + li {
	margin-left: 5px;
}
.product .info .user .actions a {
	display: block;
	font-weight: normal;
	background: #999;
	color: #fff;
	padding: 3px 12px;
}
.product .info .user .actions li:nth-child(1) a {
	background-color: #333;
}
.product .info .name,
.product .info .price {
	color: #000;
}
.product .info .name {
	font-size: 12px;
	margin-bottom: 0;
	
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	font-weight: bold;
	text-transform: uppercase;
}
.product .info .price .sale  {
	color: #c00;
	text-transform: uppercase;
}
.product .info .price del {
	text-decoration: line-through;
	color: #c00;
}
.product .info .price del span {
	color: #000;
}
.product .info label {
	display: block;
	text-transform: uppercase;
	margin: 15px 0 5px;
	color: #666;
}
.product .info input[type="text"] {
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-align: center;
	width: 40px;
}
.product .info ul.options {
	margin: 0 0 10px;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.product .info ul.options li {
	float: left;
}
.product .info ul.options input[type="radio"] {
	display: none;
}
.product .info ul.options label {
	display: block;
	cursor: pointer;
	padding: 5px 20px;
	border: 1px solid #ccc;
	margin-top: 0;
	width: 20px;
	text-align: center;
}
.product .info input[type="radio"]:checked + label,
.product .info ul.options label:hover {
	border-color: #c96161;
}
.product .info input[type="radio"]:checked + label {
	color: #c96161;
}
.product .info .wishlist {
	font-size: 10px;
	margin: 0 0 5px;
}
.product .info .wishlist a {
	font-weight: normal;
}
.product .info .button {
	margin: 0 0 15px;
}
.product .info .button a {
	display: block;
	color: #fff;
	background: #cf1f40;
	text-align: center;
	font-size: 25px;
	line-height: 45px;
	font-weight: normal;
	text-transform: uppercase;
}
.product .info .button a:hover {
	background-color: #c96161;
}

.product dl.additional-info {
	font-size: 11px;
	line-height: 150%;
}
.product dl.additional-info dt {
	display: block;
	padding: 5px 0;
	text-transform: uppercase;
	border-top: 1px solid #ccc;
	background: url("../../images/shop/arr_down2.png") no-repeat 95px center;
	color: #666;
	cursor: pointer;
}
.product dl.additional-info dt.expanded {
	background-image: url("../../images/shop/arr_down.png");
}
.product dl.additional-info dd {
	padding: 0 0 10px;
}
.loaded .product dl.additional-info dd {
	display: none;
}

.product .sysBoardFollowAllButton {
	height: auto;
}
.product .sysBoardFollowAllButton strong {
	color: inherit;
	font-size: inherit;
}

/* Checkout */
ul.checkout.nav {
	margin-top: -24px;
	position: static;
	overflow: hidden;
	text-transform: uppercase;
}
ul.checkout.nav li {
	width: 25%;
}
ul.checkout.nav a {
	display: block;
	padding: 15px 15px 30px;
	font: bold 18px/110% Arial, Helvetica, sans-serif;
}
ul.checkout.nav .current a {
	background: url("../images/arrow1.png") no-repeat center bottom;
	color: #fff;
}

/* Checkout */
table.cart {
	width: 100%;
	margin: 10px 0 10px;
	text-align: left;
	border-collapse: collapse;
}
table.cart thead th {
	text-transform: uppercase;
	padding: 5px 10px;
	font-weight: normal;
}
table.cart thead th.image {
	width: 75px;
}
table.cart th.quantity,
table.cart td.quantity {
	text-align: center;
	width: 40px;
}
table.cart td.quantity input {
	padding: 5px 10px;
	border: 1px solid #ccc;
	width: 40px;
	text-align: center;
}
table.cart thead th.monetary {
	width: 75px;
}
table.cart thead th.remove {
	width: 14px;
}
table.cart .monetary {
	text-align: right;
}
table.cart tr {
	border-bottom: 1px solid #eee;
}
table.cart td {
	padding: 10px;	
}
/*table.cart th.image,
table.cart td.image {
	padding-left: 0
}
table.cart th.remove,
table.cart td.remove {
	padding-right: 0
}*/
table.cart tbody td {
	vertical-align: top;
}
table.cart .product a {
	text-transform: uppercase;
	color: #999;
	font-weight: normal;
}
table.cart .product a:hover {
	color: #cb2027;
}
table.cart .product dl.options {
	margin-top: 10px;
}
table.cart .product dl.options dt {
	font-weight: bold;
	font-style: italic;
	line-height: 100%;
	margin: 0 0 3px;
}
table.cart .product dl.options dd {
	margin-left: 10px;
}
table.cart a.remove {
	display: block;
	margin-left: auto;
	margin-right: 0;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	width: 14px;
	height: 14px;
	background: url("../../images/shop/btn_remove.png") no-repeat 0 0;
}
table.cart a.remove:hover {
	background-position: 0 -14px;
}

.checkout .button {
	clear: both;
	overflow: hidden;
}
.checkout form table + .button.update {
	margin-right: 20px;
}
.checkout .button a {
	float: right;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 100%;
	padding: 10px 20px;
	font-weight: normal;
	background: #ccc;
	color: #000;
}
.checkout .discounts .button a {
	float: left;
}
.checkout .button a:hover {
	background: #ddd;
}
.checkout .button.checkout a {
	background: #cf1f40;
	color: #fff;
}
.checkout .button.checkout a:hover {
	background: #c96161;
}
.checkout-footer {
	overflow: hidden;
	padding: 0 20px;
	margin-top: 50px;
}
.checkout-footer > .discounts {
	float: left;
}
.checkout-footer > div.totals {
	float: right;
}
table.totals {
	margin: 0 0 20px auto;
}
table.totals tfoot {
	font-size: 20px;
	font-weight: bold;
}
table.totals tfoot th,
table.totals tfoot td {
	font-weight: bold;
}
table.totals tr.points th {
	font-weight: bold;
}
table.totals th,
table.totals td {
	padding: 3px 0;
	text-align: right;
	font-weight: normal;
}
table.totals td {
	padding-left: 50px;
}

.checkout fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
.checkout fieldset + fieldset {
	margin-top: 20px;
}
.checkout input[type="submit"] {
	margin: 0 0 0 180px;
	padding: 0;
	border: none;
	background: #cf1f40;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	line-height: 100%;
	padding: 10px 20px;
}
.checkout input[type="submit"]:hover {
	background: #c96161;
}
.checkout label em {
	float: right;
	margin-right: 8px;
	font-style: normal;
	color: #c00;
}
.checkout .StaticForm .radios li {
	float: none;
	margin-right: 0;
	padding-left: 180px;
}
.checkout .StaticForm .radios input[type="radio"] {
	float: none;
}
.checkout .StaticForm .radios label {
	float: none;
	width: auto;
	padding-top: 0;
	cursor: pointer;
}

.checkout-footer h3,
.checkout-footer h4 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 100%;
	margin: 0 0 5px;
}
.checkout-footer p.address {
	margin: 0 0 20px;
}
#sliderCaption {
	margin-top: 10px;
}
.cartSlider {
	margin-bottom: 5px;
}
.more-ways-to-spend {
	margin-top: 20px;
}
.discounts .codes {
	margin-top: 40px;
}
.sliderRail {
	background-image: url("../images/slider/slider_rail.gif");
}
a.sliderHandle {
	background-image: url("../images/slider/slider_handle.gif");
}
form.discount-code label {
	display: block;
}
form.discount-code input[type="text"] {
	padding: 5px 10px;
	border: 1px solid #ccc;
	width: 200px;
	margin: 5px 0;
}

.checkout-footer .totals form {
	margin-top: 0;
	width: 400px;
}
.checkout-footer .totals form li {
	padding: 5px 0;
}
.checkout-footer .totals form label {
	font-size: 12px;
}
.checkout-footer .totals form input[type="text"],
.checkout-footer .totals form select {
	float: left;
	width: 200px;
	min-width: 0;
}
.checkout-footer .totals form input[type="text"] {
	padding: 4px 8px;
}
.checkout-footer .totals form select {
}
.checkout-footer .totals form fieldset + fieldset {
	margin-top: 10px;
}
.checkout-footer .totals form fieldset + table {
	margin-top: 20px;
}