/*================= CSS Document =========================*/
html, body, div, ul, li, input, select, textarea, form, p, dl, dt, dd, h1, h2, h3, h4, h5, h6 {margin:0;padding:0; }
body { background:#fff; font-family:Helvetica; font-size:13px;  color:#000; width:100%;}
/*=============== Global Styles starts here =========================*/
ul, li, ol, dt, dl, dd, p{padding:0; margin:0; list-style:none;}
a {text-decoration:underline;  outline:none; color:#0090FF; }
a:hover {text-decoration:underline}
a img {border:none}
.clear {clear:both !important; line-height:0 !important; height:0 !important; font-size:0px;}
.u{text-decoration:underline !important;}
.u-none{text-decoration:none !important;}
.b{font-weight:bold !important;}
.em{ font-styletalic !important;}
.hand{cursorointer !important;}
.no-border{border:none !important;}
.no-bg{background:none !important;}
/*============= overflow =====================*/
.o-hidden{overflow:hidden !important;}
.o-auto{ overflow:auto !important;}
 /*=============== alignment ===============*/
.a-left{text-align:left !important;}
.a-center{text-align:center !important;}
.a-right{text-align:right !important;}
 /*=============== float ===============*/
.f-left {float:left}
.f-right {float:right}
.f-none {float:none }
/*=============== width ===============*/
.w-125{ width:125px !important;}
/*=============== font-size ===============*/
.f-s10{font-size:10px !important;}
s
/*=============== font generator css start ===============*/
/*===============FuturaStd HeavyOblique css start ===============*/ 
@font-face {
 font-family: FuturaStd HeavyOblique;
 src: url("../images/FuturaStd HeavyOblique.eot") /* EOT file for IE */
}
@font-face {
 font-family:FuturaStd HeavyOblique;
 src: url("../images/FuturaStd HeavyOblique.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family:FuturaStd HeavyOblique;
 src: url("../images/FuturaStd HeavyOblique.svg") /* TTF file for CSS3 browsers */
}
/*===============FuturaStd HeavyOblique css end ===============*/

/*===============FuturaStd-BoldOblique css start ===============*/
@font-face {
 font-family:FuturaStd-BoldOblique;
 src: url("../images/FuturaStd-BoldOblique.eot") /* EOT file for IE */
}
@font-face {
 font-family:FuturaStd-BoldOblique;
 src: url("../images/FuturaStd-BoldOblique.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family:FuturaStd-BoldOblique;
 src: url("../images/FuturaStd-BoldOblique.svg") /* TTF file for CSS3 browsers */
}
/*===============FuturaStd-BoldOblique css end ===============*/ 
/*===============FuturaStd-Book css start ===============*/
@font-face {
 font-family:FuturaStd-Book;
 src: url("../images/FuturaStd-Book.eot") /* EOT file for IE */
}
@font-face {
 font-family:FuturaStd-Book;
 src: url("../images/FuturaStd-Book.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family:FuturaStd-Book;
 src: url("../images/FuturaStd-Book.svg") /* TTF file for CSS3 browsers */
}
/*===============FuturaStd-Book css end ===============*/
 /*=============== FuturaStd-CondensedBold css start ===============*/
@font-face {
 font-family:FuturaStd-CondensedBold;
 src: url("../images/FuturaStd-CondensedBold.eot") /* EOT file for IE */
}
@font-face {
 font-family:FuturaStd-CondensedBold;
 src: url("../images/FuturaStd-CondensedBold.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family:FuturaStd-CondensedBold;
 src: url("../images/FuturaStd-CondensedBold.svg") /* TTF file for CSS3 browsers */
}
/*=============== FuturaStd-CondensedBold css end ===============*/
/*=============== FUTURASTD-HEAVY css start ===============*/
@font-face {
 font-family:FUTURASTD-HEAVY;
 src: url("../images/FUTURASTD-HEAVY.eot") /* EOT file for IE */
}
@font-face {
 font-family:FUTURASTD-HEAVY;
 src: url("../images/FUTURASTD-HEAVY.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family:FUTURASTD-HEAVY;
 src: url("../images/FUTURASTD-HEAVY.svg") /* TTF file for CSS3 browsers */
}
/*=============== FUTURASTD-HEAVY css end ===============*/
/*=============== FuturaStd-Medium css start ===============*/
@font-face {
 font-family:FuturaStd-Medium;
 src: url("../images/FuturaStd-Medium.eot") /* EOT file for IE */
}
@font-face {
 font-family:FuturaStd-Medium;
 src: url("../images/FuturaStd-Medium.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family:FuturaStd-Medium;
 src: url("../images/FuturaStd-Medium.svg") /* TTF file for CSS3 browsers */
}
/*=============== FuturaStd-Medium css end ===============*/
@font-face {
	font-family: 'Conv_Brandon_reg';
	src: url('../images/Brandon_reg.eot');
	src: local('☺'), url('../images/Brandon_reg.woff') format('woff'), url('../images/Brandon_reg.ttf') format('truetype'), url('../images/Brandon_reg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Brandon_med';
	src: url('../images/Brandon_med.eot');
	src: local('☺'), url('../images/Brandon_med.woff') format('woff'), url('../images/Brandon_med.ttf') format('truetype'), url('../images/Brandon_med.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Brandon_bld';
	src: url('../images/Brandon_bld.eot');
	src: local('☺'), url('../images/Brandon_bld.woff') format('woff'), url('../images/Brandon_bld.ttf') format('truetype'), url('../images/Brandon_bld.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*=============== font generator css end ===============*/
/*=============== shop css start ===============*/
.container{ margin:0 auto; padding:0px; background:#fff; width:100%;  overflow:hidden}
.content{ margin:0; padding:0; width:100%; border-top:5px solid #0a1a33; }
.product{ margin:0; padding:0; float:left; width:100%;}
ul.pro-list{ margin:0; padding:20px 0; text-align:center; }
ul.pro-list li{ margin:0; padding:0; float:left; list-style:none;  width:50%;background:#fff;}
ul.pro-list li a.product-img{ margin:0; padding:0; }
ul.pro-list li .product-info{ margin:0; padding:10px  60px; }
ul.pro-list li .product-info h1{ margin:0; padding:0; color:#000; font-size:14px;  font-family:FUTURASTD-HEAVY; font-weight:normal;}
ul.pro-list li .product-info span{ margin:0; padding:0 ; color:#949494; font-size:10px;  font-family:FUTURASTD-HEAVY;  font-weight:normal; }
ul.pro-list li .product-info  h5{ margin:0; padding:0; color:#000; font-size:10px;   font-family:FUTURASTD-HEAVY; font-weight:normal;}
/*=============== shop css end ===============*/
/*=============== shop check css start ===============*/
.content h2{ margin:10px; padding:0; color:#76777b; font-size:22px; text-align:left;  /*font-family:FUTURASTD-HEAVY;*/ font-weight:normal;}
.product h3{ margin:0; padding:0 0 0 40%; color:#000; font-size:18px; text-align:left;  font-family:FUTURASTD-HEAVY; font-weight:normal;}
.part-value { border-top: 1px solid #F2F2F2;    clear: both;    margin: 0 20px;    width: 100%;}
.cart{margin:0; padding:20px;  width:15%; float:left;}
.cart a img{ margin:0; padding:0;}
.value-info{ float:left; width:50%; margin:18px 0 0 44px ;}
.value-info h1{ margin:0 10px 10px 0; padding:0; color:#c3bec4; font-size:14px;   font-family:FUTURASTD-HEAVY; font-weight:normal;}
.value-info span{ margin:0; padding:0 ; color:#000; font-size:12px; font-style:italic;  font-family:FUTURASTD-HEAVY;  font-weight:bold; }
.value-info h5{ margin:0; padding:0; color:#000; font-size:12px;  font-family:FUTURASTD-HEAVY; font-weight:normal;}
ul.form-list {    float: right;    margin: 0;    padding: 20px;}
ul.form-list li {    margin: 0;    padding: 0 20px 0 0;}
ul.form-list li label {color: #000000; float: left; font-family: FUTURASTD-medium; font-size: 16px;   font-weight: normal;   margin: 0 0 5px;   padding: 0;   text-align: right;    width: 131px;}
ul.form-list li label h2{color:#000000;float: left; font-family:FUTURASTD-medium; font-size: 18px;  font-weight:bold; margin: 0 0 5px;  padding: 0;}
ul.form-list li h3 {color: #000000;float: left;font-family:FUTURASTD-medium;font-size: 16px;ont-weight: normal;argin: 0 0 5px;padding: 0;   text-align: right;width: 180px;}
.check-button input[type="button"] {background:url(../images/button-paypal.png) no-repeat;border: medium none;color: #1c3f69; cursor: pointer;float: left; font-size: 14px;font-family:FUTURASTD-HEAVY;margin: 0 5px 0 0;padding: 15px 30px;text-align: center; text-transform: uppercase;width: auto;}
.check-button span input[type="button"]{ color:#002d63; font-size:16px}
.check-button span h6 input[type="button"]{ color:#356a9e; font-size:16px}
/*=============== shop check css end ===============*/
/*=================== form start here========================*/
.section1{ margin:0 auto;  padding:0; overflow:hidden; }
ul.nav{ list-style-type: none; position:absolute; background:#242424; width:100%;}
ul.nav li{ float:left; width:25%; }
ul.nav li a{ height:32px; display:block; text-align:center; padding:30px 0; color:#8c7879; text-decoration:none; font-family:FUTURASTD-HEAVY; font-size:24px; outline:none;}
ul.nav li a:hover, ul.nav li a.active{ background:url(../images/arrow1.png) no-repeat center bottom; color:#8c7879; text-decoration:none;}
.artical1{ float: left; width:100%; padding:130px 0 0 0;  margin:0; min-height:1000px; font-family:Myriad Pro; font-size:12px;}
.bill{margin:0; padding:0 25px; width:100%;}
.bill h2{ margin:0 0 25px 0;  padding:0; color:#4c4c4c;font-family:FUTURASTD-HEAVY; font-size:22px; font-style:normal; font-weight:normal; line-height:20px; }
.bill p{ margin:0; padding:0; color:#919191; font-family:FuturaStd-Medium;  font-size:18px; font-style:normal; font-weight:normal; line-height:20px;}
.bill p a{ text-decoration:underline; color:#919191;}
.bill p a:hover{ text-decoration:underline;}
ul.bil-add{ margin:40px 0 0 0; padding:0; width:100%; }
ul.bil-add li.name{ margin:0; padding:0; float:left; width:470px;}
ul.bil-add li.name label{ color: #2f2f2f;float: left;font-family: 'Conv_Brandon_reg'; font-size:22px;font-weight: normal; margin:5px 0 2px 0; padding: 0; width:368px; }
ul.bil-add li.name input[type="text"] {border: 1px solid #cacaca; float: left; margin:0 0 10px 0; padding:8px; width:410px;font-family:brandongrotesque regular;}
ul.bil-add{ margin:40px 0 0 0; padding:0; width:100%; }
ul.bil-add li.last-name{ margin:0; padding:0; float:left; width:470px;}
ul.bil-add li.last-name label{ color: #2f2f2f;float: left;font-family: 'Conv_Brandon_reg'; font-size:22px;font-weight: normal; margin:5px 0 2px 0; padding: 0; width:368px; }
ul.bil-add li.last-name input[type="text"] {border: 1px solid #cacaca; float: left; margin:0 0 10px 0; padding:8px; width:400px;font-family:brandongrotesque regular;}
ul.bil-add li.last{ margin:0; padding:0; float:left; width:470px;}
ul.bil-add li.last label{ color: #2f2f2f;float: left;font-family: 'Conv_Brandon_reg'; font-size: 22px;font-weight: normal; margin:5px 0 2px 0; padding: 0; width:368px; }
ul.bil-add li.last input[type="text"] {border: 1px solid #cacaca; font-family: 'Conv_Brandon_reg';float: left; margin:0 0 10px 0; padding:8px; width:410px;}
ul.bil-add li{ margin:0; padding:0; width:92%; float:left;}
ul.bil-add li label{ color: #2f2f2f;float: left;font-family: 'Conv_Brandon_reg'; font-size:22px;font-weight: normal; margin:5px 0 2px 0; padding: 0; width:200px; }
ul.bil-add li input[type="text"] {border:1px solid #cacaca;font-family:'Conv_Brandon_reg';float: left; margin:0 0 17px 0; padding:8px; width:97.5%;}
ul.bil-add li.con{margin:0 0 20px 0; padding:0; float:left; width:91%;}
ul.bil-add li.con label{ color: #2f2f2f;float: left;font-family: 'Conv_Brandon_reg'; font-size:22px;font-weight: normal; margin:5px 0 2px 0; padding: 0; width:200px;}
ul.bil-add li.con select {color: #000; overflow: hidden; padding:8px; width:100%; line-height:15px; height:38px;}
ul.bil-add li.state{margin:0; padding:0; float:left; width:350px;}
ul.bil-add li.state label{ color: #2f2f2f;float: left;font-family: 'Conv_Brandon_reg'; font-size:22px;font-weight: normal; margin:5px 0 2px 0; padding: 0; width:368px; }
ul.bil-add li.state select { color: #000; overflow: hidden; padding:8px;  width:420px; line-height:15px; height:29px; margin:0 0 15px 0;}
.con-button{ margin:0; padding:0; width:100%;}
.check-button input[type="button"] {background: url("../images/button-paypal.png") no-repeat scroll 0 0 transparent; border: medium none; color: #1C3F69;    cursor: pointer;    float: right;    font-size: 14px;    outline: medium none;    padding: 15px 30px;    text-align: center;    text-transform: uppercase;    width: 200px; height:70px;}
.pro-check{ margin:0; padding:0; width:100%;}
.shop-con{ margin:0; padding:0; width:44%; float:left;}
.shop-con input[type="button"] {background:#000; border:1px solid #8b8b8b; color: #fff;    cursor: pointer; font-family:arial;   float:left;    font-size: 12px;    outline: medium none;    padding:6px 15px;    text-align: center;    text-transform: uppercase;    width:auto; margin:8px 0 0 10px; }
.pro-con{ margin:0; padding:0; width:50%; float:left;}
.pro-con input[type="button"] {background:#b7b7b7; border:1px solid #000;font-family:arial; color:#fff;    cursor: pointer;    float:left;    font-size: 12px;    outline: medium none;    padding: 10px 20px;    text-align: center;    text-transform: uppercase;    width:auto;  margin:0;}
/*=============== payment start ===============*/
ul.bil-add li.exp{margin:0; padding:0; float:left; width:760px;}
ul.bil-add li.exp label{ color: #2f2f2f;float: left;font-family: 'Conv_Brandon_reg'; font-size: 22px;font-weight: normal; margin:5px 0 0 0; padding: 0; width:250px; }
ul.bil-add li.exp input[type="text"] {border: 1px solid #cacaca; float: left; margin:0 0 5px 0; padding:8px; width:700px;}
ul.bil-add li.mt{margin:0; padding:0; float:left; width:120px;}
ul.bil-add li.mt label{ color: #2f2f2f;float: left;font-family: 'Conv_Brandon_reg'; font-size: 12px;font-weight: normal; margin:5px 0 0 0; padding: 0; width:auto; }
ul.bil-add li.mt select {color: rgb(0, 0, 0);float: left;height: 37px;line-height: 15px;margin: 30px 0 0 0;overflow: hidden;padding: 5px;position: absolute;width: 118px;}
ul.bil-add li.mt a{ color:#cacaca; font-family: 'Conv_Brandon_reg';font-size:22px; text-decoration:underline; line-height:95px;}
ul.bil-add li.mt a:hover{ text-decoration:none;}
/*=============== payment end ===============*/
/*=============== review start ===============*/
ul.bil-add li.bil-add{margin:0; padding:0; float:none !important; width:100%; position:relative;}
ul.bil-add li.bil-add label{ color: #2f2f2f;float: left;font-family: 'Conv_Brandon_med'; font-size:22px;font-weight: normal; margin:5px 0 0 0; padding: 0; border-bottom:1px solid #a8a8a8; width:92%; }
ul.bil-add li.bil-add input[type="button"] {font-family: 'Conv_Brandon_med'; background:url(../images/button.png) no-repeat ;color: #2f2f2f; cursor: pointer;  float: right;  font-size: 13px;outline: medium none; padding:5px 15px;  text-align: center;  text-transform: uppercase; border:1px solid #bdbdbd;    width:110px; height:28px; position:absolute; top:36px; right:56px;}
ul.bil-add li.bil-add p{ margin:10px 0; color:#2f2f2f; padding:20px 0 25px 0;}
.place{ margin:0; padding:0; float:left;}
.place input[type="button"] { background:url(../images/place.png) no-repeat ; border:1px solid #5a5a5a; color: #FFFFFF;  cursor: pointer;  float:left;font-size:14px;font-weight: bold;margin:8px 0 0 0;outline: medium none; padding:6px 0;text-align: center;text-transform: uppercase;width:163px; font-family: 'Conv_Brandon_bld'; height:41px;}
/*=================== form end here========================*/
 /*=================== profile-runway  start here========================*/
ul.line-list{ margin:0; padding:0; text-align:center; }
ul.line-list li{ margin:0; padding:0; float:left; list-style:none;  width:25%;background:#fff;}
ul.line-list li a.come-img{ margin:0; padding:0; }
.up-info{ margin:0; padding:0;}
.up-info input[type="button"] {background:#2b2b2b no-repeat;border: medium none;color: #fff; cursor: pointer; font-size: 10px;font-family:FUTURASTD-HEAVY    margin: 0 5px 0 0; outline: medium none; padding:0 6px;  text-align: center; text-transform: uppercase;   width: auto;}
/*=================== profile-runway end here========================*/
/*=================== votes start here========================*/
.model{ margin:0 ; padding:0; width:100%; }
.left-model {float: left;margin: 0;min-height: 700px; padding: 0; width: 42%; position:relative;}
.left-model img {width: 100%;}
.center-model {float: left;margin: 0; padding: 0; width: 30%; position:relative;}
.center-model img{ width:99%;}
 .votes {bottom: 0;right:-82%; position: absolute; width: 63px;}
.votes h1{ font-size:14px; color:#000; text-transform:capitalize; font-weight:normal;}
.votes p{ font-size:10px; color:#000;}
.right-model img {width: 100%;}
.right-model {float: right; margin: 0; padding: 0; position: relative; right: -10px; width: 26%;}
.wild-logo {bottom: 41%;left: 21%;position: absolute;}
.wild-logo img{ width:65%;}
.next-button {position: absolute; right: 13%; top: 16%;}
.next-button img{ width:50%}
/*=================== votes end here========================*/
/*=================== post-images-viewall start here========================*/
ul.post-list{ margin:0; padding:0; width:100%;}
ul.post-list li {background:#1E2628;float: left; margin: 0 0 15px 15px; padding: 0; width:30.8%;}
ul.post-list li:first-child{ margin:0;}
ul.post-list li a img {float: left;margin: 0; width: 100%;}
.post-img {background: #1C2625;margin: 0 auto; overflow: hidden; padding: 3% 1%; width: 98%;}
.back-sec{ background:#3d3d3d; text-align:center; padding:10px 0;}
.back-sec a {background: url("../images/lessthan.png") no-repeat scroll left 1px transparent; color: #FFFFFF; font-size: 14px;font-weight: normal;
padding: 0 0 0 18px; text-decoration: none; text-transform: uppercase;}
 /*=================== post-images-viewall end here========================*
/*=================== profile start here========================*/
.foll-con{ margin:0; padding:0; width:100%;}
.black-con{ margin:20px; padding:0; width:30%; float:left;}
.black-con img{ margin:20px 0; padding:0; border:10px solid #000; float:left;}
.fol-me{ margin:0; padding:0; float:left;}
.fol-me a{ display:inline-block; font-weight: bold; margin:0; padding:10px 0; text-align: center; width: 172px; background:#000; color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:18px; text-decoration:none !important;}
.sam-con {    /*float: right;*/    margin: 35px 20px 35px auto;    padding: 0;    width: 60%;}
ul.sam-path{ margin:0; padding:0; /*float:left;*/}
ul.sam-path li{ margin:0 0 10px 0; padding:0; border-bottom:#000 solid 3px;}
ul.sam-path li h2{ margin:0 0 10px 0; padding:0; color:#000; /*font-family:FUTURASTD-HEAVY;*/ font-size:25px;}
ul.sam-path li h3{ margin:0 0 10px 0; padding:0; color:#a6a6a6; /*font-family:FUTURASTD-medium;*/ font-size:22px; font-weight:normal;}
ul.sam-path li p{ margin:0; padding:0; color:#000; /*font-family:FUTURASTD-medium;*/ font-size:22px; font-weight:normal;}
 ul.sam-path li h6{ margin:0; padding:0; color:#000; /*font-family:FUTURASTD-medium;*/ font-size:18px; font-weight:normal;} 
 ul.sam-path li.run-post{ margin:0 0 10px 0; padding:0; border:none !important;}
 .run-post a{display: inline-block; margin:0; width: 100%; padding:10px 0; text-align:center; background:#000; color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:18px; text-decoration:none !important; border:none !important; font-weight:bold;} 
  /*.run-post span a{margin:0; padding:4px 26px; background:#000; color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:14px; text-decoration:none !important; border:none !important; font-weight:bold;} */
/*=================== profile  end here========================*/